body {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 10px 40px;
}
.calculator {
  margin: 100px auto;
  height: auto;
  position: relative;
}
.display-textarea {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
}
textarea {
  resize: none;
  background: inherit;
  outline: none;
  border: none;
  text-align: right;
  padding: 10px 15px;
}
.textarea-formula {
  font-size: 14px;
  font-weight: 400;
}
.textarea-input {
  font-size: 30px;
  font-weight: 700;
}
.history {
  padding: 10px 20px;
  /* background: ; */
  text-align: right;
  border: 1px solid black;
}
.history span {
  font-size: 20px;
  font-weight: 500;
}
.history-list {
  height: auto;
  padding: 10px 15px;
  margin-bottom: 10px;
}
.history-formula {
  font-size: 17px;
  font-weight: 400;
}
.history-input {
  font-size: 29px;
  cursor: pointer;
  font-weight: 400;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.row-2 {
  display: grid;
  grid-template-columns: 1fr 3fr 0fr 0fr;
}
.button,
.button-action,
.button-clear,
.button-backspace,
.button-equal {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}
